# Virtual Environment
.venv/
venv/
ENV/

# Python compiled bytecode
__pycache__/
*.py[cod]
*$py.class

# Operating System files
.DS_Store
Thumbs.db

# IDEs / Editors
.vscode/
.idea/
.ropeproject/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
